**About the dataset**

WAQI project data-set is updated 3 times a day, and covering about 380 major cities in the world.

The data for each major cities is based on the average (median) of several stations. The data set provides min, max, median and standard deviation for each of the air pollutant species (PM2.5,PM10, Ozone ...) as well as meteorological data (Wind, Temperature, ...).

All air pollutant species are converted to the US EPA standard (i.e. no raw concentrations). All dates are UTC based.

The count column is the number of samples used for calculating the median and standard deviation.

The city-median value is computed per day using all AQI values for available stations.

More Info: https://aqicn.org/data-platform/covid19/

**WORKING STEPS OF THE WITH DATASET**


1.   Group the content of the dataset based on date, country and city(4 dataset separately)

*   Each unique specie will become new column
*   Values of species if found duplicate max value all be assigned among the values


2.   Combine 4 dataframe into one
3.   Export the combine dataset
***Additional Information***
01/01/2024 - 17-12-2024


Dataset 1 starting and end date(mm/dd/yyyy) : 12/26/2022-4/2/2023

Dataset 2 starting and end date(mm/dd/yyyy) : 3/27/2023-7/2/2023

Dataset 3 starting and end date(mm/dd/yyyy) : 6/26/2023-10/1/2023

Dataset 4 starting and end date(mm/dd/yyyy) : 9/25/2023-12/31/2023


2023:

12/26/2022-4/2/2023

3/27/2023-7/2/2023

6/26/2023-10/1/2023

9/25/2023-12/31/2023

2022:

3/28/2022-7/3/2022

6/27/2022-10/2/2022

9/26/2022-1/1/2023

2021:

12/28/2020-4/4/2021

3/29/2021-7/4/2021

6/28/2021-10/3/2021

9/27/2021-1/2/2022

2020:

12/30/2019-4/5/2020

3/30/2020-7/5/2020

6/29/2020-10/4/2020

9/28/2020-1/3/2021

2019:

12/31/2018-3/31/2019

4/1/2019-6/30/2019

7/1/2019-10/6/2019

9/30/2019-1/5/2020

2018:

1/1/2018-7/1/2018

2017:

12/26/2016-7/2/2017

2016:

12/28/2015-7/3/2016

2015:

12/29/2014-7/5/2015

In [1]:
import pandas as pd
import numpy as np

# 2024

In [2]:
# Load the dataset into a DataFrame
raw_data_2024 = pd.read_csv(r'/kaggle/input/data-for-combine/airqualitydata-2024.csv')

# print the shape
print(raw_data_2024.shape)

#runs the first 5 rows
raw_data_2024.head()

(1048571, 5)

         Date Country     City       Specie  count
0  12/17/2024      CI  Abidjan         pm25      8
1  12/17/2024      CI  Abidjan          dew      2
2  12/17/2024      CI  Abidjan  temperature      8
3  12/17/2024      CI  Abidjan     humidity      8
4  12/17/2024      CI  Abidjan     pressure      8

In [3]:
# Convert 'Date' to datetime
raw_data_2024['Date'] = pd.to_datetime(raw_data_2024['Date'])

In [4]:
raw_data_2024.shape

(1048571, 5)

In [5]:
# Pivot the data
data_df_2024 = raw_data_2024.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [6]:
print(data_df_2024.shape)
data_df_2024.head()

(104165, 20)

Specie,Date,Country,City,co,dew,humidity,neph,no2,o3,pm1,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2024-01-01,AE,Abu Dhabi,24.0,132.0,186.0,NaN,120.0,119.0,NaN,120.0,24.0,NaN,192.0,120.0,192.0,NaN,NaN,NaN,184.0
1,2024-01-01,AE,Dubai,87.0,140.0,144.0,NaN,87.0,90.0,NaN,74.0,26.0,NaN,144.0,87.0,144.0,NaN,NaN,NaN,144.0
2,2024-01-01,AR,Buenos Aires,68.0,44.0,92.0,NaN,47.0,24.0,NaN,75.0,24.0,2.0,92.0,8.0,92.0,NaN,21.0,48.0,92.0
3,2024-01-01,AU,Adelaide,24.0,46.0,118.0,NaN,69.0,72.0,NaN,120.0,72.0,NaN,95.0,2.0,118.0,NaN,NaN,72.0,112.0
4,2024-01-01,AU,Brisbane,24.0,192.0,216.0,NaN,134.0,72.0,NaN,215.0,212.0,102.0,216.0,5.0,208.0,NaN,216.0,26.0,216.0

In [7]:
data_df_2024.isnull().sum()

Specie
Date                  0
Country               0
City                  0
co                41979
dew               16512
humidity            443
neph             103462
no2               13599
o3                32845
pm1              103527
pm10               8580
pm25              14538
precipitation     91177
pressure           1341
so2               29919
temperature         577
uvi              100969
wd               102117
wind-gust         58262
wind-speed         2387
dtype: int64

# 2023_Q1

In [8]:
# Loading the data
raw_data_2023_Q1 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2023Q1.csv")

# print the shape
print(raw_data_2023_Q1.shape)

#runs the first 5 rows
raw_data_2023_Q1.head(10)

(553335, 5)

       Date Country     City       Specie  count
0  4/2/2023      BH   Manama     pressure     24
1  4/2/2023      BH   Manama         pm25     10
2  4/2/2023      BH   Manama  temperature     24
3  4/2/2023      BH   Manama     humidity     24
4  4/2/2023      LK  Colombo          dew     20
5  4/2/2023      LK  Colombo  temperature     22
6  4/2/2023      LK  Colombo     humidity     22
7  4/2/2023      LK  Colombo     pressure     22
8  4/2/2023      LK  Colombo   wind-speed     22
9  4/2/2023      LK  Colombo         pm25     24

In [9]:
# Convert 'Date' to datetime
raw_data_2023_Q1['Date'] = pd.to_datetime(raw_data_2023_Q1['Date'])

In [10]:
raw_data_2023_Q1.shape

(553335, 5)

In [11]:
# Pivot the data
data_df_2023_Q1 = raw_data_2023_Q1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [12]:
print(data_df_2023_Q1.shape)
data_df_2023_Q1.head()

(54535, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2022-12-26,AE,Abu Dhabi,NaN,13.0,128.0,192.0,NaN,NaN,118.0,...,118.0,24.0,NaN,192.0,118.0,192.0,NaN,NaN,46.0,174.0
1,2022-12-26,AE,Dubai,NaN,NaN,16.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2022-12-26,AR,Buenos Aires,NaN,43.0,22.0,71.0,NaN,NaN,12.0,...,17.0,NaN,NaN,71.0,18.0,71.0,NaN,22.0,34.0,38.0
3,2022-12-26,AT,Graz,NaN,39.0,147.0,216.0,NaN,NaN,189.0,...,214.0,24.0,NaN,216.0,88.0,216.0,NaN,NaN,NaN,126.0
4,2022-12-26,AT,Innsbruck,NaN,13.0,69.0,72.0,NaN,NaN,71.0,...,65.0,NaN,NaN,72.0,6.0,72.0,NaN,NaN,24.0,72.0

In [13]:
data_df_2023_Q1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              53716
co               20563
dew              10232
humidity           192
mepaqi           54437
neph             54339
no2               9381
o3               12986
pm1              54255
pm10              9970
pm25              6880
precipitation    48004
pressure           324
so2              16332
temperature        106
uvi              53557
wd               50771
wind-gust        25751
wind-speed        1034
dtype: int64

# 2023_Q2

In [14]:
# Loading the data
raw_data_2023_Q2 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2023Q2.csv")

# print the shape
print(raw_data_2023_Q2.shape)

#runs the first 5 rows
raw_data_2023_Q2.head(10)

(564703, 5)

       Date Country     City       Specie  count
0  7/2/2023      DZ  Algiers     pressure     24
1  7/2/2023      DZ  Algiers   wind-speed     24
2  7/2/2023      DZ  Algiers          dew     23
3  7/2/2023      DZ  Algiers  temperature     24
4  7/2/2023      DZ  Algiers     humidity     24
5  7/2/2023      DZ  Algiers         pm25     24
6  7/2/2023      IT  Bologna  temperature     96
7  7/2/2023      IT  Bologna         pm25     96
8  7/2/2023      IT  Bologna     humidity     96
9  7/2/2023      IT  Bologna           o3     96

In [15]:
# Convert 'Date' to datetime
raw_data_2023_Q2['Date'] = pd.to_datetime(raw_data_2023_Q2['Date'])

In [16]:
raw_data_2023_Q2.shape

(564703, 5)

In [17]:
# Pivot the data
data_df_2023_Q2 = raw_data_2023_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [18]:
print(data_df_2023_Q2.shape)
data_df_2023_Q2.head()

(55730, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2023-03-27,AE,Abu Dhabi,NaN,22.0,144.0,192.0,NaN,NaN,117.0,...,101.0,18.0,NaN,192.0,117.0,192.0,NaN,NaN,54.0,192.0
1,2023-03-27,AE,Dubai,NaN,NaN,20.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2023-03-27,AR,Buenos Aires,NaN,73.0,46.0,94.0,NaN,NaN,44.0,...,45.0,NaN,NaN,94.0,23.0,94.0,NaN,19.0,30.0,64.0
3,2023-03-27,AT,Graz,NaN,53.0,161.0,216.0,NaN,NaN,161.0,...,212.0,3.0,7.0,216.0,64.0,216.0,NaN,NaN,NaN,161.0
4,2023-03-27,AT,Innsbruck,NaN,7.0,23.0,72.0,NaN,NaN,64.0,...,54.0,NaN,3.0,72.0,18.0,72.0,NaN,NaN,72.0,72.0

In [19]:
data_df_2023_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              54358
co               21724
dew              11112
humidity           206
mepaqi           55632
neph             55534
no2               9257
o3               12462
pm1              55479
pm10             10038
pm25              7057
precipitation    49911
pressure           391
so2              17226
temperature        150
uvi              54759
wd               51871
wind-gust        25758
wind-speed        1242
dtype: int64

# 2023_Q3

In [20]:
# Loading the data
raw_data_2023_Q3 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2023Q3.csv")

# print the shape
print(raw_data_2023_Q3.shape)

#runs the first 5 rows
raw_data_2023_Q3.head(10)

(255419, 5)

        Date Country      City         Specie  count
0  10/1/2023      JP  Kumamoto            so2     25
1  10/1/2023      JP  Kumamoto            no2    244
2  10/1/2023      JP  Kumamoto     wind-speed    352
3  10/1/2023      JP  Kumamoto             co    190
4  10/1/2023      JP  Kumamoto           pm10    308
5  10/1/2023      JP  Kumamoto       humidity    352
6  10/1/2023      JP  Kumamoto             o3    312
7  10/1/2023      JP  Kumamoto           pm25    332
8  10/1/2023      JP  Kumamoto       pressure    352
9  10/1/2023      JP  Kumamoto  precipitation     36

In [21]:
# Convert 'Date' to datetime
raw_data_2023_Q3['Date'] = pd.to_datetime(raw_data_2023_Q3['Date'])

In [22]:
raw_data_2023_Q3.shape

(255419, 5)

In [23]:
# Pivot the data
data_df_2023_Q3 = raw_data_2023_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [24]:
print(data_df_2023_Q3.shape)
data_df_2023_Q3.head()

(25197, 21)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm1,pm10,pm25,precipitation,pressure,so2,temperature,wd,wind-gust,wind-speed
0,2023-06-26,AE,Abu Dhabi,NaN,11.0,136.0,144.0,NaN,NaN,51.0,...,NaN,55.0,24.0,NaN,144.0,50.0,192.0,NaN,NaN,144.0
1,2023-06-26,AE,Dubai,NaN,NaN,16.0,24.0,NaN,NaN,NaN,...,NaN,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,24.0
2,2023-06-26,AR,Buenos Aires,NaN,96.0,48.0,95.0,NaN,NaN,48.0,...,NaN,88.0,24.0,NaN,95.0,22.0,95.0,19.0,16.0,47.0
3,2023-06-26,AU,Adelaide,NaN,23.0,22.0,82.0,NaN,NaN,62.0,...,NaN,96.0,91.0,2.0,82.0,NaN,82.0,NaN,59.0,75.0
4,2023-06-26,AU,Brisbane,NaN,35.0,176.0,200.0,NaN,NaN,138.0,...,NaN,207.0,195.0,NaN,216.0,35.0,200.0,200.0,136.0,200.0

In [25]:
data_df_2023_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              25102
co               10340
dew               5166
humidity            23
mepaqi           25099
neph             25001
no2               4438
o3                3734
pm1              25100
pm10              5937
pm25              2644
precipitation    21924
pressure           169
so2               8920
temperature          2
wd               24217
wind-gust         9754
wind-speed         557
dtype: int64

# 2023_Q4

In [26]:
# Loading the data
raw_data_2023_Q4 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2023Q4.csv")

# print the shape
print(raw_data_2023_Q4.shape)

#runs the first 5 rows
raw_data_2023_Q4.head(10)

(217731, 5)

         Date Country   City       Specie  count
0  12/31/2023      FI  Turku     pressure     72
1  12/31/2023      FI  Turku  temperature     72
2  12/31/2023      FI  Turku         pm10     64
3  12/31/2023      FI  Turku     humidity     72
4  12/31/2023      FI  Turku         pm25     21
5  12/31/2023      FI  Turku          no2     45
6  12/31/2023      FI  Turku          dew     69
7  12/31/2023      FI  Turku   wind-speed     72
8  12/31/2023      FI   Oulu  temperature     48
9  12/31/2023      FI   Oulu         pm10     48

In [27]:
# Convert 'Date' to datetime
raw_data_2023_Q4['Date'] = pd.to_datetime(raw_data_2023_Q4['Date'])

In [28]:
raw_data_2023_Q4.shape

(217731, 5)

In [29]:
# Pivot the data
data_df_2023_Q4 = raw_data_2023_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [30]:
print(data_df_2023_Q4.shape)
data_df_2023_Q4.head()

(22632, 21)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2023-09-25,AT,Graz,NaN,54.0,161.0,216.0,NaN,185.0,NaN,...,215.0,23.0,NaN,216.0,36.0,216.0,NaN,NaN,44.0,210.0
1,2023-09-25,AT,Innsbruck,NaN,13.0,NaN,72.0,NaN,70.0,NaN,...,67.0,NaN,NaN,72.0,12.0,72.0,NaN,NaN,18.0,72.0
2,2023-09-25,AT,Linz,NaN,36.0,21.0,168.0,NaN,163.0,NaN,...,135.0,134.0,NaN,168.0,48.0,168.0,NaN,NaN,144.0,78.0
3,2023-09-25,AT,Salzburg,NaN,20.0,72.0,72.0,NaN,72.0,NaN,...,68.0,42.0,NaN,72.0,19.0,72.0,NaN,NaN,NaN,72.0
4,2023-09-25,AT,Vienna,NaN,40.0,46.0,408.0,NaN,361.0,NaN,...,348.0,278.0,NaN,408.0,74.0,408.0,NaN,NaN,288.0,287.0

In [31]:
data_df_2023_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              21358
co               11602
dew               4359
humidity            65
mepaqi           22534
no2               5375
o3                7954
pm1              22372
pm10              5288
pm25              5839
precipitation    19716
pressure           201
so2               8084
temperature         32
uvi              21841
wd               21683
wind-gust        11027
wind-speed         315
dtype: int64

# 2022_Q2

In [32]:
# Loading the data
raw_data_2022_Q2 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2022Q2.csv")

# print the shape
print(raw_data_2022_Q2.shape)

#runs the first 5 rows
raw_data_2022_Q2.head(10)

(573836, 5)

       Date Country            City         Specie  count
0  7/3/2022      GT  Guatemala City       pressure     24
1  7/3/2022      GT  Guatemala City     wind-speed     23
2  7/3/2022      GT  Guatemala City            dew     11
3  7/3/2022      GT  Guatemala City    temperature     24
4  7/3/2022      GT  Guatemala City       humidity     24
5  7/3/2022      GT  Guatemala City           pm25     19
6  7/3/2022      KR          Jeonju       humidity    210
7  7/3/2022      KR          Jeonju            so2    158
8  7/3/2022      KR          Jeonju           pm25    233
9  7/3/2022      KR          Jeonju  precipitation     30

In [33]:
# Convert 'Date' to datetime
raw_data_2022_Q2['Date'] = pd.to_datetime(raw_data_2022_Q2['Date'])

In [34]:
raw_data_2022_Q2.shape

(573836, 5)

In [35]:
# Pivot the data
data_df_2022_Q2 = raw_data_2022_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [36]:
print(data_df_2022_Q2.shape)
data_df_2022_Q2.head()

(56751, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2022-03-28,AE,Abu Dhabi,NaN,24.0,126.0,192.0,NaN,NaN,120.0,...,120.0,11.0,NaN,192.0,120.0,192.0,NaN,NaN,48.0,192.0
1,2022-03-28,AE,Dubai,NaN,NaN,17.0,24.0,NaN,NaN,NaN,...,NaN,23.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2022-03-28,AR,Buenos Aires,NaN,13.0,24.0,71.0,NaN,NaN,NaN,...,24.0,24.0,NaN,72.0,24.0,71.0,NaN,11.0,28.0,31.0
3,2022-03-28,AT,Graz,NaN,62.0,133.0,216.0,NaN,NaN,191.0,...,211.0,NaN,NaN,216.0,90.0,216.0,NaN,NaN,200.0,209.0
4,2022-03-28,AT,Innsbruck,NaN,13.0,66.0,72.0,NaN,NaN,69.0,...,69.0,NaN,2.0,72.0,8.0,72.0,NaN,NaN,22.0,70.0

In [37]:
data_df_2022_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              55322
co               20880
dew              12576
humidity            86
mepaqi           56653
neph             56555
no2              10984
o3               14660
pm1              56486
pm10              9916
pm25              7691
precipitation    50204
pressure           358
so2              18493
temperature         69
uvi              55772
wd               52418
wind-gust        24603
wind-speed         707
dtype: int64

# 2022_Q3

In [38]:
# Loading the data
raw_data_2022_Q3 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2022Q3.csv")

# print the shape
print(raw_data_2022_Q3.shape)

#runs the first 5 rows
raw_data_2022_Q3.head(10)

(570466, 5)

        Date Country         City       Specie  count
0  10/2/2022      MX  Guadalajara   wind-speed    107
1  10/2/2022      MX  Guadalajara    wind-gust     78
2  10/2/2022      MX  Guadalajara          dew     39
3  10/2/2022      MX  Guadalajara           co     72
4  10/2/2022      MX  Guadalajara          so2     72
5  10/2/2022      MX  Guadalajara         pm25     21
6  10/2/2022      MX  Guadalajara     pressure    189
7  10/2/2022      MX  Guadalajara  temperature    189
8  10/2/2022      MX  Guadalajara         pm10     24
9  10/2/2022      MX  Guadalajara     humidity    145

In [39]:
# Convert 'Date' to datetime
raw_data_2022_Q3['Date'] = pd.to_datetime(raw_data_2022_Q3['Date'])

In [40]:
raw_data_2022_Q3.shape

(570466, 5)

In [41]:
# Pivot the data
data_df_2022_Q3 = raw_data_2022_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [42]:
print(data_df_2022_Q3.shape)
data_df_2022_Q3.head()

(56219, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2022-06-27,AE,Abu Dhabi,NaN,24.0,132.0,192.0,NaN,NaN,120.0,...,120.0,24.0,NaN,192.0,120.0,192.0,NaN,NaN,44.0,176.0
1,2022-06-27,AE,Dubai,NaN,NaN,24.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2022-06-27,AR,Buenos Aires,NaN,24.0,24.0,67.0,NaN,NaN,NaN,...,20.0,18.0,NaN,72.0,17.0,67.0,NaN,15.0,10.0,23.0
3,2022-06-27,AT,Graz,NaN,38.0,133.0,216.0,NaN,NaN,180.0,...,199.0,9.0,NaN,216.0,49.0,216.0,NaN,NaN,205.0,193.0
4,2022-06-27,AT,Innsbruck,NaN,14.0,62.0,72.0,NaN,NaN,70.0,...,70.0,NaN,NaN,72.0,6.0,72.0,NaN,NaN,36.0,72.0

In [43]:
data_df_2022_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              54757
co               20304
dew              12264
humidity            85
mepaqi           56121
neph             56023
no2              10326
o3               13608
pm1              56023
pm10              9727
pm25              7383
precipitation    48775
pressure           337
so2              18086
temperature         45
uvi              55241
wd               52204
wind-gust        25319
wind-speed        1067
dtype: int64

# 2022_Q4

In [44]:
# Loading the data
raw_data_2022_Q4 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2022Q4.csv")

# print the shape
print(raw_data_2022_Q4.shape)

#runs the first 5 rows
raw_data_2022_Q4.head(10)

(551341, 5)

       Date Country       City       Specie  count
0  1/1/2023      GB  Edinburgh     humidity    288
1  1/1/2023      GB  Edinburgh          so2     25
2  1/1/2023      GB  Edinburgh         pm25    282
3  1/1/2023      GB  Edinburgh          no2    236
4  1/1/2023      GB  Edinburgh   wind-speed    162
5  1/1/2023      GB  Edinburgh          dew     88
6  1/1/2023      GB  Edinburgh  temperature    288
7  1/1/2023      GB  Edinburgh         pm10    285
8  1/1/2023      GB  Edinburgh    wind-gust    157
9  1/1/2023      GB  Edinburgh           co     42

In [45]:
# Convert 'Date' to datetime
raw_data_2022_Q4['Date'] = pd.to_datetime(raw_data_2022_Q4['Date'])

In [46]:
raw_data_2022_Q4.shape

(551341, 5)

In [47]:
# Pivot the data
data_df_2022_Q4 = raw_data_2022_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [48]:
print(data_df_2022_Q4.shape)
data_df_2022_Q4.head()

(54530, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2022-09-26,AE,Abu Dhabi,NaN,20.0,86.0,188.0,NaN,NaN,113.0,...,119.0,NaN,NaN,188.0,111.0,188.0,NaN,NaN,22.0,160.0
1,2022-09-26,AE,Dubai,NaN,NaN,22.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2022-09-26,AR,Buenos Aires,NaN,68.0,72.0,72.0,NaN,NaN,NaN,...,52.0,8.0,NaN,72.0,7.0,72.0,NaN,19.0,NaN,68.0
3,2022-09-26,AT,Graz,NaN,44.0,161.0,209.0,NaN,NaN,181.0,...,207.0,24.0,21.0,209.0,39.0,209.0,NaN,NaN,46.0,189.0
4,2022-09-26,AT,Innsbruck,NaN,11.0,66.0,69.0,NaN,NaN,69.0,...,61.0,NaN,9.0,69.0,5.0,69.0,NaN,NaN,3.0,66.0

In [49]:
data_df_2022_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              53624
co               19997
dew              10675
humidity           203
mepaqi           54432
neph             54334
no2               9605
o3               12958
pm1              54282
pm10             10067
pm25              6960
precipitation    48184
pressure           395
so2              16571
temperature        103
uvi              53550
wd               50877
wind-gust        26553
wind-speed        1359
dtype: int64

# 2021_Q1

In [50]:
# Loading the data
raw_data_2021_Q1 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2021Q1.csv")

# print the shape
print(raw_data_2021_Q1.shape)

#runs the first 5 rows
raw_data_2021_Q1.head(10)

(590729, 5)

       Date Country     City       Specie  count
0  4/4/2021      CN  Beijing     pressure    288
1  4/4/2021      CN  Beijing   wind-speed    288
2  4/4/2021      CN  Beijing          dew    288
3  4/4/2021      CN  Beijing           co    137
4  4/4/2021      CN  Beijing  temperature    288
5  4/4/2021      CN  Beijing         pm25    266
6  4/4/2021      CN  Beijing          no2    285
7  4/4/2021      CN  Beijing         pm10    254
8  4/4/2021      CN  Beijing     humidity    288
9  4/4/2021      CN  Beijing           o3    284

In [51]:
# Convert 'Date' to datetime
raw_data_2021_Q1['Date'] = pd.to_datetime(raw_data_2021_Q1['Date'])

In [52]:
raw_data_2021_Q1.shape

(590729, 5)

In [53]:
# Pivot the data
data_df_2021_Q1 = raw_data_2021_Q1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [54]:
print(data_df_2021_Q1.shape)
data_df_2021_Q1.head()

(58552, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2020-12-28,AE,Abu Dhabi,NaN,6.0,122.0,192.0,NaN,NaN,114.0,...,120.0,24.0,NaN,192.0,116.0,192.0,NaN,NaN,NaN,192.0
1,2020-12-28,AE,Dubai,NaN,NaN,20.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2020-12-28,AF,Kabul,NaN,NaN,21.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
3,2020-12-28,AR,Buenos Aires,NaN,70.0,48.0,96.0,NaN,NaN,46.0,...,77.0,23.0,NaN,96.0,NaN,96.0,NaN,18.0,60.0,96.0
4,2020-12-28,AT,Graz,NaN,42.0,133.0,216.0,NaN,NaN,191.0,...,215.0,NaN,21.0,216.0,29.0,216.0,NaN,NaN,202.0,208.0

In [55]:
data_df_2021_Q1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              57095
co               21064
dew              12610
humidity           203
mepaqi           58454
neph             58356
no2              10946
o3               15009
pm1              58358
pm10             10897
pm25              8962
precipitation    52036
pressure           360
so2              18363
temperature        177
uvi              57577
wd               53821
wind-gust        26579
wind-speed         892
dtype: int64

# 2021_Q2

In [56]:
# Loading the data
raw_data_2021_Q2 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2021Q2.csv")

# print the shape
print(raw_data_2021_Q2.shape)

#runs the first 5 rows
raw_data_2021_Q2.head(10)

(587119, 5)

       Date Country     City       Specie  count
0  7/4/2021      IQ  Baghdad          dew     23
1  7/4/2021      IQ  Baghdad  temperature     23
2  7/4/2021      IQ  Baghdad     humidity     23
3  7/4/2021      IQ  Baghdad         pm25     24
4  7/4/2021      IQ  Baghdad     pressure     23
5  7/4/2021      IQ  Baghdad   wind-speed     23
6  7/4/2021      MK   Skopje     humidity    168
7  7/4/2021      MK   Skopje         pm25    144
8  7/4/2021      MK   Skopje          no2    163
9  7/4/2021      MK   Skopje     pressure    168

In [57]:
# Convert 'Date' to datetime
raw_data_2021_Q2['Date'] = pd.to_datetime(raw_data_2021_Q2['Date'])

In [58]:
raw_data_2021_Q2.shape

(587119, 5)

In [59]:
# Pivot the data
data_df_2021_Q2 = raw_data_2021_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [60]:
print(data_df_2021_Q2.shape)
data_df_2021_Q2.head()

(58359, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2021-03-29,AE,Abu Dhabi,NaN,17.0,150.0,192.0,NaN,NaN,120.0,...,120.0,NaN,NaN,192.0,120.0,192.0,NaN,NaN,NaN,192.0
1,2021-03-29,AE,Dubai,NaN,NaN,20.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2021-03-29,AF,Kabul,NaN,NaN,20.0,21.0,NaN,NaN,NaN,...,NaN,24.0,NaN,21.0,NaN,21.0,NaN,NaN,5.0,20.0
3,2021-03-29,AR,Buenos Aires,NaN,23.0,NaN,24.0,NaN,NaN,NaN,...,NaN,NaN,NaN,24.0,NaN,24.0,NaN,18.0,16.0,16.0
4,2021-03-29,AT,Graz,NaN,57.0,133.0,216.0,NaN,NaN,183.0,...,204.0,NaN,NaN,216.0,75.0,216.0,NaN,NaN,213.0,197.0

In [61]:
data_df_2021_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              57041
co               21327
dew              13091
humidity           798
mepaqi           58261
neph             58163
no2              11014
o3               14925
pm1              57970
pm10             10603
pm25              8315
precipitation    51439
pressure           951
so2              19006
temperature        776
uvi              57379
wd               54281
wind-gust        24945
wind-speed        1417
dtype: int64

# 2021_Q3

In [62]:
# Loading the data
raw_data_2021_Q3 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2021Q3.csv")

# print the shape
print(raw_data_2021_Q3.shape)

#runs the first 5 rows
raw_data_2021_Q3.head(10)

(570079, 5)

        Date Country                 City       Specie  count
0  10/3/2021      BR  São José dos Campos          no2      3
1  10/3/2021      BR  São José dos Campos          dew     12
2  10/3/2021      BR  São José dos Campos           co      5
3  10/3/2021      BR  São José dos Campos     humidity     15
4  10/3/2021      BR  São José dos Campos           o3      5
5  10/3/2021      BR  São José dos Campos     pressure     15
6  10/3/2021      BR  São José dos Campos   wind-speed      9
7  10/3/2021      BR  São José dos Campos  temperature     15
8  10/3/2021      BR  São José dos Campos         pm10     10
9  10/3/2021      BR              Vitória           o3     14

In [63]:
# Convert 'Date' to datetime
raw_data_2021_Q3['Date'] = pd.to_datetime(raw_data_2021_Q3['Date'])

In [64]:
raw_data_2021_Q3.shape

(570079, 5)

In [65]:
# Pivot the data
data_df_2021_Q3 = raw_data_2021_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [66]:
print(data_df_2021_Q3.shape)
data_df_2021_Q3.head()

(57529, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2021-06-28,AE,Abu Dhabi,NaN,24.0,190.0,192.0,NaN,NaN,120.0,...,120.0,23.0,NaN,192.0,120.0,192.0,NaN,NaN,NaN,192.0
1,2021-06-28,AE,Dubai,NaN,NaN,22.0,24.0,NaN,NaN,NaN,...,NaN,NaN,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2021-06-28,AF,Kabul,NaN,NaN,19.0,24.0,NaN,NaN,NaN,...,NaN,23.0,NaN,24.0,NaN,24.0,NaN,NaN,2.0,24.0
3,2021-06-28,AR,Buenos Aires,NaN,47.0,48.0,116.0,NaN,NaN,23.0,...,54.0,13.0,2.0,96.0,19.0,116.0,NaN,10.0,74.0,112.0
4,2021-06-28,AT,Graz,NaN,26.0,154.0,216.0,NaN,NaN,166.0,...,215.0,NaN,7.0,216.0,63.0,216.0,NaN,NaN,200.0,215.0

In [67]:
data_df_2021_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              56333
co               21042
dew              12891
humidity          2237
mepaqi           57432
neph             57333
no2              10657
o3               14558
pm1              57173
pm10             10242
pm25              8362
precipitation    51411
pressure          2320
so2              18480
temperature       2216
uvi              56561
wd               54784
wind-gust        26014
wind-speed        2926
dtype: int64

# 2021_Q4

In [68]:
# Loading the data
raw_data_2021_Q4 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2021Q4.csv")

# print the shape
print(raw_data_2021_Q4.shape)

#runs the first 5 rows
raw_data_2021_Q4.head(10)

(548423, 5)

       Date Country                 City       Specie  count
0  1/2/2022      BH               Manama     pressure     24
1  1/2/2022      BH               Manama   wind-speed      5
2  1/2/2022      BH               Manama    wind-gust     11
3  1/2/2022      BH               Manama  temperature     24
4  1/2/2022      BH               Manama     humidity     24
5  1/2/2022      BH               Manama         pm25     24
6  1/2/2022      BR  São José dos Campos         pm10     23
7  1/2/2022      BR  São José dos Campos           o3     23
8  1/2/2022      BR  São José dos Campos          no2     23
9  1/2/2022      BR  São José dos Campos  temperature     90

In [69]:
# Convert 'Date' to datetime
raw_data_2021_Q4['Date'] = pd.to_datetime(raw_data_2021_Q4['Date'])

In [70]:
raw_data_2021_Q4.shape

(548423, 5)

In [71]:
# Pivot the data
data_df_2021_Q4 = raw_data_2021_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [72]:
print(data_df_2021_Q4.shape)
data_df_2021_Q4.head()

(57596, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2021-09-27,AE,Abu Dhabi,NaN,24.0,174.0,192.0,NaN,NaN,120.0,...,120.0,24.0,NaN,192.0,120.0,192.0,NaN,NaN,NaN,192.0
1,2021-09-27,AE,Dubai,NaN,NaN,21.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2021-09-27,AR,Buenos Aires,NaN,24.0,72.0,96.0,NaN,NaN,24.0,...,44.0,24.0,NaN,72.0,NaN,96.0,NaN,NaN,24.0,96.0
3,2021-09-27,AT,Graz,NaN,45.0,161.0,216.0,NaN,NaN,189.0,...,215.0,NaN,21.0,216.0,64.0,216.0,NaN,NaN,204.0,208.0
4,2021-09-27,AT,Innsbruck,NaN,13.0,91.0,96.0,NaN,NaN,92.0,...,88.0,NaN,7.0,96.0,13.0,96.0,NaN,NaN,20.0,91.0

In [73]:
data_df_2021_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              56254
co               21421
dew              15917
humidity          5137
mepaqi           57498
neph             57400
no2              11193
o3               15551
pm1              57213
pm10             10535
pm25              9407
precipitation    52472
pressure          4971
so2              19425
temperature       4923
uvi              56620
wd               55617
wind-gust        28316
wind-speed        6031
dtype: int64

# 2020_Q1

In [74]:
# Loading the data
raw_data_2020_Q1 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2020Q1.csv")

# print the shape
print(raw_data_2020_Q1.shape)

#runs the first 5 rows
raw_data_2020_Q1.head(10)

(539573, 5)

       Date Country    City       Specie  count
0  4/5/2020      CO  Bogotá          so2    272
1  4/5/2020      CO  Bogotá           wd    253
2  4/5/2020      CO  Bogotá         pm10    285
3  4/5/2020      CO  Bogotá           o3    311
4  4/5/2020      CO  Bogotá         pm25    283
5  4/5/2020      CO  Bogotá     humidity    312
6  4/5/2020      CO  Bogotá     pressure    330
7  4/5/2020      CO  Bogotá          dew    293
8  4/5/2020      CO  Bogotá  temperature    312
9  4/5/2020      CO  Bogotá   wind-speed    310

In [75]:
# Convert 'Date' to datetime
raw_data_2020_Q1['Date'] = pd.to_datetime(raw_data_2020_Q1['Date'])

In [76]:
raw_data_2020_Q1.shape

(539573, 5)

In [77]:
# Pivot the data
data_df_2020_Q1 = raw_data_2020_Q1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [78]:
print(data_df_2020_Q1.shape)
data_df_2020_Q1.head()

(59069, 25)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,precipitation,pressure,so2,temperature,uvi,wd,wind gust,wind speed,wind-gust,wind-speed
0,2019-12-30,AE,Abu Dhabi,NaN,12.0,NaN,NaN,NaN,NaN,120.0,...,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-30,AE,Dubai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-30,AF,Kabul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-30,AR,Buenos Aires,NaN,44.0,NaN,NaN,NaN,NaN,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-30,AT,Graz,NaN,30.0,NaN,NaN,NaN,NaN,72.0,...,NaN,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
data_df_2020_Q1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              57661
co               22080
dew              22910
humidity         11489
mepaqi           58971
neph             58873
no2              11017
o3               14542
pm1              58687
pm10             10818
pm25              9623
pol              58354
precipitation    55234
pressure         11631
so2              18847
temperature      11481
uvi              58086
wd               55488
wind gust        30802
wind speed       14994
wind-gust        55472
wind-speed       52885
dtype: int64

# 2020_Q2

In [80]:
# Loading the data
raw_data_2020_Q2 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2020Q2.csv")

# print the shape
print(raw_data_2020_Q2.shape)

#runs the first 5 rows
raw_data_2020_Q2.head(10)

(602520, 5)

       Date Country      City       Specie  count
0  7/5/2020      IN  Thrissur           o3     38
1  7/5/2020      IN  Thrissur         pm25     72
2  7/5/2020      IN  Thrissur          no2     48
3  7/5/2020      IN  Thrissur     pressure     72
4  7/5/2020      IN  Thrissur   wind-speed     63
5  7/5/2020      IN  Thrissur          dew     51
6  7/5/2020      IN  Thrissur           co     72
7  7/5/2020      IN  Thrissur  temperature     72
8  7/5/2020      IN  Thrissur         pm10     72
9  7/5/2020      IN  Thrissur     humidity     72

In [81]:
# Convert 'Date' to datetime
raw_data_2020_Q2['Date'] = pd.to_datetime(raw_data_2020_Q2['Date'])

In [82]:
raw_data_2020_Q2.shape

(602520, 5)

In [83]:
# Pivot the data
data_df_2020_Q2 = raw_data_2020_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [84]:
print(data_df_2020_Q2.shape)
data_df_2020_Q1.head()

(59500, 24)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,precipitation,pressure,so2,temperature,uvi,wd,wind gust,wind speed,wind-gust,wind-speed
0,2019-12-30,AE,Abu Dhabi,NaN,12.0,NaN,NaN,NaN,NaN,120.0,...,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-30,AE,Dubai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-30,AF,Kabul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-30,AR,Buenos Aires,NaN,44.0,NaN,NaN,NaN,NaN,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-30,AT,Graz,NaN,30.0,NaN,NaN,NaN,NaN,72.0,...,NaN,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
data_df_2020_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              58118
co               22434
dew              12453
humidity            84
mepaqi           59402
neph             59304
no2              11349
o3               14440
pm1              59138
pm10             11078
pm25              9389
precipitation    52038
pressure           309
so2              18997
temperature         71
uvi              58494
wd               55060
wind gust        58877
wind speed       58341
wind-gust        26841
wind-speed         763
dtype: int64

# 2020_Q3

In [86]:
# Loading the data
raw_data_2020_Q3 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2020Q3.csv")

# print the shape
print(raw_data_2020_Q3.shape)

#runs the first 5 rows
raw_data_2020_Q3.head(10)

(598100, 5)

        Date Country      City       Specie  count
0  10/4/2020      UA    Odessa     humidity     24
1  10/4/2020      UA    Odessa     pressure     24
2  10/4/2020      UA    Odessa   wind-speed     24
3  10/4/2020      UA    Odessa          dew     19
4  10/4/2020      UA    Odessa  temperature     24
5  10/4/2020      UA  Ternopil          dew     14
6  10/4/2020      UA  Ternopil         pm25     24
7  10/4/2020      UA  Ternopil   wind-speed     12
8  10/4/2020      UA  Ternopil  temperature     14
9  10/4/2020      UA  Ternopil         pm10     24

In [87]:
# Convert 'Date' to datetime
raw_data_2020_Q3['Date'] = pd.to_datetime(raw_data_2020_Q3['Date'])

In [88]:
raw_data_2020_Q3.shape

(598100, 5)

In [89]:
# Pivot the data
data_df_2020_Q3 = raw_data_2020_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [90]:
print(data_df_2020_Q3.shape)
data_df_2020_Q3.head()

(59172, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2020-06-29,AE,Abu Dhabi,NaN,17.0,180.0,192.0,NaN,NaN,120.0,...,120.0,24.0,NaN,192.0,120.0,192.0,NaN,NaN,NaN,192.0
1,2020-06-29,AE,Dubai,NaN,NaN,22.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2020-06-29,AF,Kabul,NaN,NaN,24.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,8.0,23.0
3,2020-06-29,AR,Buenos Aires,NaN,60.0,22.0,70.0,NaN,NaN,48.0,...,61.0,21.0,NaN,46.0,3.0,70.0,NaN,16.0,48.0,70.0
4,2020-06-29,AT,Graz,NaN,50.0,154.0,216.0,NaN,NaN,192.0,...,210.0,NaN,28.0,216.0,45.0,216.0,NaN,NaN,208.0,216.0

In [91]:
data_df_2020_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              57689
co               22203
dew              12016
humidity            87
mepaqi           59074
neph             58976
no2              11175
o3               13982
pm1              58848
pm10             10889
pm25              9314
precipitation    51268
pressure           426
so2              18642
temperature        106
uvi              58291
wd               54519
wind-gust        27905
wind-speed         758
dtype: int64

# 2020_Q4

In [92]:
# Loading the data
raw_data_2020_Q4 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2020Q4.csv")

# print the shape
print(raw_data_2020_Q4.shape)

#runs the first 5 rows
raw_data_2020_Q4.head(10)

(586937, 5)

       Date Country         City       Specie  count
0  1/3/2021      ET  Addis Ababa         pm25     24
1  1/3/2021      ET  Addis Ababa          dew      7
2  1/3/2021      ET  Addis Ababa  temperature      7
3  1/3/2021      ET  Addis Ababa     humidity      7
4  1/3/2021      ET  Addis Ababa     pressure      7
5  1/3/2021      ET  Addis Ababa   wind-speed      7
6  1/3/2021      LA    Vientiane          dew     15
7  1/3/2021      LA    Vientiane  temperature     15
8  1/3/2021      LA    Vientiane     humidity     15
9  1/3/2021      LA    Vientiane         pm25     24

In [93]:
# Convert 'Date' to datetime
raw_data_2020_Q4['Date'] = pd.to_datetime(raw_data_2020_Q4['Date'])

In [94]:
raw_data_2020_Q4.shape

(586937, 5)

In [95]:
# Pivot the data
data_df_2020_Q4 = raw_data_2020_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [96]:
print(data_df_2020_Q4.shape)
data_df_2020_Q4.head()

(58362, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2020-09-28,AE,Abu Dhabi,NaN,17.0,174.0,192.0,NaN,NaN,117.0,...,120.0,24.0,NaN,192.0,116.0,192.0,NaN,NaN,NaN,190.0
1,2020-09-28,AE,Dubai,NaN,NaN,21.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2020-09-28,AF,Kabul,NaN,NaN,24.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,23.0
3,2020-09-28,AR,Buenos Aires,NaN,52.0,23.0,93.0,NaN,NaN,71.0,...,65.0,24.0,NaN,71.0,5.0,93.0,NaN,14.0,58.0,81.0
4,2020-09-28,AT,Graz,NaN,49.0,140.0,216.0,NaN,NaN,192.0,...,208.0,NaN,21.0,216.0,14.0,216.0,NaN,NaN,214.0,211.0

In [97]:
data_df_2020_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              56864
co               21639
dew              11928
humidity           150
mepaqi           58264
neph             58166
no2              10851
o3               14731
pm1              58017
pm10             10882
pm25              8929
precipitation    52342
pressure           356
so2              18883
temperature        113
uvi              57392
wd               53565
wind-gust        27934
wind-speed         935
dtype: int64

# 2019_Q1

In [98]:
# Loading the data
raw_data_2019_Q1 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2019Q1.csv")

# print the shape
print(raw_data_2019_Q1.shape)

#runs the first 5 rows
raw_data_2019_Q1.head(10)

(491161, 5)

        Date Country       City       Specie  count
0  3/31/2019      AE  Abu Dhabi     humidity     23
1  3/31/2019      AE  Abu Dhabi   wind-speed     23
2  3/31/2019      AE  Abu Dhabi          dew     23
3  3/31/2019      AE  Abu Dhabi         pm25     23
4  3/31/2019      AE  Abu Dhabi     pressure     23
5  3/31/2019      AE  Abu Dhabi  temperature     23
6  3/31/2019      AE      Dubai   wind-speed     23
7  3/31/2019      AE      Dubai           o3     14
8  3/31/2019      AE      Dubai         pm25     23
9  3/31/2019      AE      Dubai          dew     23

In [99]:
# Convert 'Date' to datetime
raw_data_2019_Q1['Date'] = pd.to_datetime(raw_data_2019_Q1['Date'])

In [100]:
raw_data_2019_Q1.shape

(491161, 5)

In [101]:
# Pivot the data
data_df_2019_Q1 = raw_data_2019_Q1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [102]:
print(data_df_2019_Q1.shape)
data_df_2019_Q1.head()

(49006, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2018-12-31,AE,Abu Dhabi,NaN,NaN,187.0,192.0,NaN,109.0,81.0,...,24.0,NaN,NaN,192.0,109.0,192.0,NaN,NaN,NaN,177.0
1,2018-12-31,AR,Buenos Aires,NaN,NaN,23.0,33.0,NaN,NaN,NaN,...,NaN,NaN,NaN,33.0,NaN,33.0,NaN,12.0,24.0,24.0
2,2018-12-31,AT,Graz,NaN,62.0,NaN,216.0,NaN,189.0,NaN,...,NaN,NaN,NaN,216.0,49.0,216.0,NaN,NaN,23.0,43.0
3,2018-12-31,AT,Innsbruck,NaN,19.0,4.0,96.0,NaN,84.0,NaN,...,NaN,NaN,NaN,96.0,17.0,96.0,NaN,NaN,96.0,92.0
4,2018-12-31,AT,Linz,NaN,54.0,19.0,168.0,NaN,160.0,NaN,...,135.0,NaN,NaN,168.0,33.0,168.0,NaN,NaN,168.0,168.0

In [103]:
data_df_2019_Q1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              47701
co               17145
dew              21593
humidity           293
mepaqi           48915
no2               7765
o3                9237
pm1              48915
pm10              9686
pm25              7771
pol              48812
precipitation    45579
pressure           526
so2              13818
temperature        280
uvi              48084
wd               43626
wind-gust        16846
wind-speed        3361
dtype: int64

# 2019_Q2

In [104]:
# Loading the data
raw_data_2019_Q2 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2019Q2.csv")

# print the shape
print(raw_data_2019_Q2.shape)

#runs the first 5 rows
raw_data_2019_Q2.head(10)

(522904, 5)

        Date Country   City    Specie  count
0  6/30/2019      MO  Macau        o3    108
1  6/30/2019      MO  Macau       so2     20
2  6/30/2019      MO  Macau      pm25    132
3  6/30/2019      MO  Macau       no2    131
4  6/30/2019      MO  Macau  pressure    144
5  6/30/2019      MO  Macau        co     64
6  6/30/2019      MO  Macau      pm10    132
7  6/30/2019      MO  Macau  humidity    144
8  6/30/2019      MO  Macau       uvi     66
9  6/30/2019      MO  Macau       dew    144

In [105]:
# Convert 'Date' to datetime
raw_data_2019_Q2['Date'] = pd.to_datetime(raw_data_2019_Q2['Date'])

In [106]:
raw_data_2019_Q2.shape

(522904, 5)

In [107]:
# Pivot the data
data_df_2019_Q2 = raw_data_2019_Q2.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [108]:
print(data_df_2019_Q2.shape)
data_df_2019_Q2.head()

(51421, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2019-04-01,AE,Abu Dhabi,NaN,NaN,24.0,24.0,NaN,NaN,NaN,...,24.0,NaN,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
1,2019-04-01,AE,Dubai,NaN,NaN,24.0,24.0,NaN,NaN,24.0,...,24.0,NaN,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2019-04-01,AR,Buenos Aires,NaN,NaN,52.0,120.0,NaN,NaN,24.0,...,48.0,NaN,NaN,120.0,19.0,120.0,NaN,18.0,120.0,120.0
3,2019-04-01,AT,Graz,NaN,56.0,NaN,216.0,NaN,191.0,NaN,...,NaN,NaN,NaN,216.0,86.0,216.0,NaN,NaN,135.0,118.0
4,2019-04-01,AT,Innsbruck,NaN,16.0,48.0,96.0,NaN,82.0,NaN,...,NaN,NaN,NaN,96.0,11.0,96.0,NaN,NaN,96.0,66.0

In [109]:
data_df_2019_Q2.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              50092
co               18780
dew              13355
humidity           229
mepaqi           51331
no2               9320
o3               10834
pm1              51268
pm10             10047
pm25              8810
pol              51067
precipitation    47158
pressure           501
so2              15164
temperature        207
uvi              50526
wd               47337
wind-gust        16360
wind-speed        1709
dtype: int64

# 2019_Q3

In [110]:
# Loading the data
raw_data_2019_Q3 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2019Q3.csv")

# print the shape
print(raw_data_2019_Q3.shape)

#runs the first 5 rows
raw_data_2019_Q3.head(10)

(582606, 5)

        Date Country    City       Specie  count
0  10/6/2019      SK  Košice          dew     20
1  10/6/2019      SK  Košice     pressure     96
2  10/6/2019      SK  Košice     humidity     96
3  10/6/2019      SK  Košice          so2     80
4  10/6/2019      SK  Košice         pm25     81
5  10/6/2019      SK  Košice          no2     92
6  10/6/2019      SK  Košice   wind-speed     96
7  10/6/2019      SK  Košice           co     92
8  10/6/2019      SK  Košice  temperature     96
9  10/6/2019      SK  Košice         pm10     95

In [111]:
# Convert 'Date' to datetime
raw_data_2019_Q3['Date'] = pd.to_datetime(raw_data_2019_Q3['Date'])

In [112]:
raw_data_2019_Q3.shape

(582606, 5)

In [113]:
# Pivot the data
data_df_2019_Q3 = raw_data_2019_Q3.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [114]:
print(data_df_2019_Q3.shape)
data_df_2019_Q3.head()

(57230, 22)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2019-07-01,AE,Abu Dhabi,NaN,NaN,24.0,24.0,NaN,NaN,24.0,...,24.0,NaN,NaN,23.0,NaN,23.0,NaN,NaN,NaN,24.0
1,2019-07-01,AE,Dubai,NaN,NaN,24.0,24.0,NaN,NaN,NaN,...,24.0,NaN,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2019-07-01,AR,Buenos Aires,NaN,67.0,72.0,120.0,NaN,48.0,24.0,...,48.0,NaN,NaN,120.0,NaN,120.0,NaN,17.0,120.0,120.0
3,2019-07-01,AT,Graz,NaN,36.0,105.0,216.0,NaN,190.0,NaN,...,NaN,NaN,NaN,216.0,67.0,216.0,NaN,NaN,189.0,188.0
4,2019-07-01,AT,Innsbruck,NaN,16.0,48.0,96.0,NaN,90.0,NaN,...,NaN,NaN,NaN,96.0,7.0,96.0,NaN,NaN,96.0,96.0

In [115]:
data_df_2019_Q3.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              55734
co               21758
dew              14427
humidity            74
mepaqi           57132
no2              10192
o3               12979
pm1              57100
pm10             10728
pm25              9627
pol              56146
precipitation    52356
pressure           530
so2              17234
temperature         67
uvi              56261
wd               52620
wind-gust        18819
wind-speed         980
dtype: int64

# 2019_Q4

In [116]:
# Loading the data
raw_data_2019_Q4 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2019Q4.csv")

# print the shape
print(raw_data_2019_Q4.shape)

#runs the first 5 rows
raw_data_2019_Q4.head(10)

(578226, 5)

       Date Country      City         Specie  count
0  1/5/2020      HU  Debrecen             o3     34
1  1/5/2020      HU  Debrecen            so2     34
2  1/5/2020      HU  Debrecen       pressure     72
3  1/5/2020      HU  Debrecen    temperature     72
4  1/5/2020      HU  Debrecen       humidity     72
5  1/5/2020      HU  Debrecen            no2     34
6  1/5/2020      HU  Debrecen     wind-speed     69
7  1/5/2020      HU  Debrecen     wind speed     69
8  1/5/2020      HU  Debrecen      wind gust      6
9  1/5/2020      HU  Debrecen  precipitation      6

In [117]:
# Convert 'Date' to datetime
raw_data_2019_Q4['Date'] = pd.to_datetime(raw_data_2019_Q4['Date'])

In [118]:
raw_data_2019_Q4.shape

(578226, 5)

In [119]:
# Pivot the data
data_df_2019_Q4 = raw_data_2019_Q4.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [120]:
print(data_df_2019_Q4.shape)
data_df_2019_Q1.head()

(57861, 25)

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2018-12-31,AE,Abu Dhabi,NaN,NaN,187.0,192.0,NaN,109.0,81.0,...,24.0,NaN,NaN,192.0,109.0,192.0,NaN,NaN,NaN,177.0
1,2018-12-31,AR,Buenos Aires,NaN,NaN,23.0,33.0,NaN,NaN,NaN,...,NaN,NaN,NaN,33.0,NaN,33.0,NaN,12.0,24.0,24.0
2,2018-12-31,AT,Graz,NaN,62.0,NaN,216.0,NaN,189.0,NaN,...,NaN,NaN,NaN,216.0,49.0,216.0,NaN,NaN,23.0,43.0
3,2018-12-31,AT,Innsbruck,NaN,19.0,4.0,96.0,NaN,84.0,NaN,...,NaN,NaN,NaN,96.0,17.0,96.0,NaN,NaN,96.0,92.0
4,2018-12-31,AT,Linz,NaN,54.0,19.0,168.0,NaN,160.0,NaN,...,135.0,NaN,NaN,168.0,33.0,168.0,NaN,NaN,168.0,168.0

In [121]:
data_df_2019_Q4.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              56388
co               21943
dew              16361
humidity          2755
mepaqi           57763
neph             57795
no2              10772
o3               13984
pm1              57569
pm10             10930
pm25              9774
pol              56418
precipitation    54213
pressure          3069
so2              17888
temperature       2730
uvi              56952
wd               53664
wind gust        54986
wind speed       53344
wind-gust        21844
wind-speed        3574
dtype: int64

# 2018_H1

In [122]:
# Loading the data
raw_data_2018_H1 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2018H1.csv")

# print the shape
print(raw_data_2018_H1.shape)

#runs the first 5 rows
raw_data_2018_H1.head(10)

(552440, 5)

       Date Country    City       Specie  count
0  7/1/2018      HR  Zagreb         pm10     72
1  7/1/2018      HR  Zagreb  temperature     72
2  7/1/2018      HR  Zagreb   wind-speed     30
3  7/1/2018      HR  Zagreb    wind-gust     72
4  7/1/2018      HR  Zagreb           co     15
5  7/1/2018      HR  Zagreb           o3     23
6  7/1/2018      HR  Zagreb          so2     66
7  7/1/2018      HR  Zagreb          no2     67
8  7/1/2018      HR  Zagreb     humidity     72
9  7/1/2018      HR  Zagreb     pressure     72

In [123]:
# Convert 'Date' to datetime
raw_data_2018_H1['Date'] = pd.to_datetime(raw_data_2018_H1['Date'])

In [124]:
raw_data_2018_H1.shape

(552440, 5)

In [125]:
# Pivot the data
data_df_2018_H1 = raw_data_2018_H1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [126]:
print(data_df_2018_H1.shape)
data_df_2018_H1.head()

(92410, 22)

Specie,Date,Country,City,aqi,co,d,humidity,mepaqi,no2,o3,...,pm25,pol,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2018-01-01,AE,Abu Dhabi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,AR,Buenos Aires,NaN,81.0,NaN,NaN,NaN,72.0,24.0,...,23.0,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,AT,Graz,NaN,66.0,NaN,NaN,NaN,204.0,NaN,...,NaN,NaN,NaN,NaN,101.0,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,AT,Innsbruck,NaN,18.0,NaN,NaN,NaN,92.0,NaN,...,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,AT,Linz,NaN,111.0,NaN,NaN,NaN,158.0,NaN,...,140.0,NaN,NaN,NaN,56.0,NaN,NaN,NaN,NaN,NaN

In [127]:
data_df_2018_H1.isnull().sum()

Specie
Date                 0
Country              0
City                 0
aqi              89157
co               32652
d                90397
humidity         68770
mepaqi           92232
no2              12867
o3               16072
pm1              92249
pm10             16901
pm25             16184
pol              91979
precipitation    90576
pressure         69101
so2              27288
temperature      68764
uvi              90294
wd               88246
wind-gust        77551
wind-speed       72070
dtype: int64

# 2017_H1

In [128]:
# Loading the data
raw_data_2017_H1 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2017H1.csv")

# print the shape
print(raw_data_2017_H1.shape)

#runs the first 5 rows
raw_data_2017_H1.head(10)

(427974, 5)

       Date Country     City Specie  count
0  7/2/2017      CN  Beijing     co    412
1  7/2/2017      CN  Beijing   pm10    274
2  7/2/2017      CN  Beijing     o3    426
3  7/2/2017      CN  Beijing    so2    330
4  7/2/2017      CN  Beijing   pm25    405
5  7/2/2017      CN  Beijing    no2    405
6  7/2/2017      CN  Jieyang   pm25    142
7  7/2/2017      CN  Jieyang    no2    144
8  7/2/2017      CN  Jieyang     co    132
9  7/2/2017      CN  Jieyang   pm10    135

In [129]:
# Convert 'Date' to datetime
raw_data_2017_H1['Date'] = pd.to_datetime(raw_data_2017_H1['Date'])

In [130]:
raw_data_2017_H1.shape

(427974, 5)

In [131]:
# Pivot the data
data_df_2017_H1 = raw_data_2017_H1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [132]:
print(data_df_2017_H1.shape)
data_df_2017_H1.head()

(88640, 21)

Specie,Date,Country,City,aqi,co,d,humidity,mepaqi,neph,no2,...,pm1,pm10,pm25,pol,pressure,so2,temperature,uvi,wd,wind-speed
0,2016-12-26,AR,Buenos Aires,NaN,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,24.0,24.0,NaN,NaN,20.0,NaN,NaN,NaN,NaN
1,2016-12-26,AT,Graz,NaN,69.0,NaN,NaN,NaN,NaN,215.0,...,NaN,239.0,NaN,NaN,NaN,79.0,NaN,NaN,NaN,NaN
2,2016-12-26,AT,Innsbruck,NaN,21.0,NaN,NaN,NaN,NaN,84.0,...,NaN,82.0,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN
3,2016-12-26,AT,Linz,NaN,50.0,NaN,NaN,NaN,NaN,159.0,...,NaN,160.0,146.0,NaN,NaN,34.0,NaN,NaN,NaN,NaN
4,2016-12-26,AT,Salzburg,NaN,66.0,NaN,NaN,NaN,NaN,88.0,...,NaN,71.0,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN

In [133]:
data_df_2017_H1.isnull().sum()

Specie
Date               0
Country            0
City               0
aqi            86591
co             30374
d              88622
humidity       88493
mepaqi         88451
neph           88100
no2            10738
o3             12809
pm1            88425
pm10           16164
pm25           13666
pol            88438
pressure       88507
so2            25932
temperature    88493
uvi            86525
wd             88610
wind-speed     88608
dtype: int64

# 2016_H1

In [134]:
# Loading the data
raw_data_2016_H1 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2016H1.csv")

# print the shape
print(raw_data_2016_H1.shape)

#runs the first 5 rows
raw_data_2016_H1.head(10)

(413840, 5)

       Date Country       City Specie  count
0  7/3/2016      SE  Stockholm     o3     24
1  7/3/2016      SE  Stockholm   pm25     48
2  7/3/2016      SE  Stockholm    no2    120
3  7/3/2016      SE  Stockholm   pm10    119
4  7/3/2016      SE      Malmö   pm10     24
5  7/3/2016      SE      Malmö     o3     24
6  7/3/2016      SE      Malmö   pm25     24
7  7/3/2016      SE      Malmö    no2     24
8  7/3/2016      SE    Uppsala   pm10     48
9  7/3/2016      SE    Uppsala    no2     48

In [135]:
# Convert 'Date' to datetime
raw_data_2016_H1['Date'] = pd.to_datetime(raw_data_2016_H1['Date'])

In [136]:
raw_data_2016_H1.shape

(413840, 5)

In [137]:
# Pivot the data
data_df_2016_H1 = raw_data_2016_H1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [138]:
print(data_df_2016_H1.shape)
data_df_2016_H1.head()

(86762, 15)

Specie,Date,Country,City,aqi,co,mepaqi,neph,no2,o3,pm10,pm25,pol,psi,so2,uvi
0,2015-12-28,AE,Dubai,NaN,119.0,NaN,NaN,115.0,77.0,41.0,96.0,NaN,NaN,100.0,NaN
1,2015-12-28,AT,Graz,NaN,65.0,NaN,NaN,198.0,NaN,240.0,NaN,NaN,NaN,103.0,NaN
2,2015-12-28,AT,Innsbruck,NaN,22.0,NaN,NaN,90.0,NaN,85.0,NaN,NaN,NaN,22.0,NaN
3,2015-12-28,AT,Linz,NaN,145.0,NaN,NaN,186.0,NaN,179.0,151.0,NaN,NaN,69.0,NaN
4,2015-12-28,AT,Salzburg,NaN,71.0,NaN,NaN,90.0,NaN,90.0,NaN,NaN,NaN,44.0,NaN

In [139]:
data_df_2016_H1.isnull().sum()

Specie
Date           0
Country        0
City           0
aqi        83470
co         30320
mepaqi     86575
neph       86753
no2        11241
o3         12670
pm10       15432
pm25       17453
pol        86227
psi        86575
so2        25835
uvi        84753
dtype: int64

# 2015_H1

In [140]:
# Loading the data
raw_data_2015_H1 = pd.read_csv(r"/kaggle/input/data-for-combine/airqualitydata-2015H1.csv")

# print the shape
print(raw_data_2015_H1.shape)

#runs the first 5 rows
raw_data_2015_H1.head(10)

(388980, 5)

       Date Country    City Specie  count
0  7/5/2015      KR  Jeonju     co     53
1  7/5/2015      KR  Jeonju   pm10    192
2  7/5/2015      KR  Jeonju     o3    167
3  7/5/2015      KR  Jeonju    so2     84
4  7/5/2015      KR  Jeonju    no2    180
5  7/5/2015      KR  Jeonju   pm25     48
6  7/5/2015      KR   Seoul    so2   1810
7  7/5/2015      KR   Seoul   pm25   1148
8  7/5/2015      KR   Seoul    no2   2064
9  7/5/2015      KR   Seoul     co   1475

In [141]:
# Convert 'Date' to datetime
raw_data_2015_H1['Date'] = pd.to_datetime(raw_data_2015_H1['Date'])

In [142]:
raw_data_2015_H1.shape

(388980, 5)

In [143]:
# Pivot the data
data_df_2015_H1 = raw_data_2015_H1.pivot_table(
    index=['Date', 'Country', 'City'],  # Grouping columns
    columns='Specie',                  # Unique values become columns
    values='count',                   # Values to aggregate
    aggfunc='mean'                     # Aggregation function
).reset_index()

In [144]:
print(data_df_2015_H1.shape)
data_df_2015_H1.head()

(83090, 14)

Specie,Date,Country,City,aqi,co,mepaqi,neph,no2,o3,pm10,pm25,psi,so2,uvi
0,2014-12-29,AT,Graz,NaN,51.0,NaN,NaN,204.0,NaN,226.0,NaN,NaN,60.0,NaN
1,2014-12-29,AT,Innsbruck,NaN,18.0,NaN,NaN,95.0,NaN,80.0,NaN,NaN,14.0,NaN
2,2014-12-29,AT,Linz,NaN,82.0,NaN,NaN,188.0,NaN,176.0,137.0,NaN,77.0,NaN
3,2014-12-29,AT,Salzburg,NaN,56.0,NaN,NaN,90.0,NaN,80.0,NaN,NaN,35.0,NaN
4,2014-12-29,AT,Vienna,NaN,40.0,NaN,NaN,387.0,NaN,357.0,124.0,NaN,83.0,NaN

In [145]:
data_df_2015_H1.isnull().sum()

Specie
Date           0
Country        0
City           0
aqi        80383
co         30736
mepaqi     82901
neph       82526
no2        12888
o3         14612
pm10       14221
pm25       18769
psi        82914
so2        24251
uvi        80809
dtype: int64

# **Combine 2015-2024**

In [146]:
data_2015_2024 = pd.concat([data_df_2015_H1, data_df_2016_H1, data_df_2017_H1, data_df_2018_H1,
                            data_df_2019_Q1, data_df_2019_Q2, data_df_2019_Q3, data_df_2019_Q4,
                            data_df_2020_Q1, data_df_2020_Q2, data_df_2020_Q3, data_df_2020_Q4,
                            data_df_2021_Q1, data_df_2021_Q2, data_df_2021_Q3, data_df_2021_Q4,
                            data_df_2022_Q2, data_df_2022_Q3, data_df_2022_Q4,
                            data_df_2023_Q1, data_df_2023_Q2, data_df_2023_Q3, data_df_2023_Q4,
                            data_df_2024], ignore_index=True)

In [147]:
data_2015_2024.shape

(1464318, 27)

In [148]:
data_2015_2024.isnull().sum()

Specie
Date                   0
Country                0
City                   0
aqi              1428973
co                544307
mepaqi           1461729
neph             1459692
no2               246950
o3                332142
pm10              259576
pm25              233347
psi              1463955
so2               451684
uvi              1435490
pol              1459360
d                1462287
humidity          351954
pm1              1458306
pressure          356926
temperature       351340
wd               1387248
wind-speed        415429
precipitation    1344509
wind-gust         860945
dew               613350
wind gust        1432553
wind speed       1414567
dtype: int64

In [149]:
data_2015_2024.head()

Specie,Date,Country,City,aqi,co,mepaqi,neph,no2,o3,pm10,...,pm1,pressure,temperature,wd,wind-speed,precipitation,wind-gust,dew,wind gust,wind speed
0,2014-12-29,AT,Graz,NaN,51.0,NaN,NaN,204.0,NaN,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-29,AT,Innsbruck,NaN,18.0,NaN,NaN,95.0,NaN,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-29,AT,Linz,NaN,82.0,NaN,NaN,188.0,NaN,176.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-29,AT,Salzburg,NaN,56.0,NaN,NaN,90.0,NaN,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-29,AT,Vienna,NaN,40.0,NaN,NaN,387.0,NaN,357.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
# Find the minimum and maximum dates
min_date = data_2015_2024['Date'].min()
max_date = data_2015_2024['Date'].max()

print('Minimum date:', min_date)
print('Maximum date:', max_date)

Minimum date: 2014-12-29 00:00:00
Maximum date: 2024-12-17 00:00:00

In [151]:
import os

In [152]:
os.makedirs('/kaggle/working/data-after-combine', exist_ok=True)
data_2015_2024.to_csv('/kaggle/working/data-after-combine/data_2015_2024.csv')

**Combine 2021-2024**

In [153]:
data_2021_2024 = pd.concat([data_df_2021_Q1, data_df_2021_Q2, data_df_2021_Q3, data_df_2021_Q4,
                            data_df_2022_Q2, data_df_2022_Q3, data_df_2022_Q4,
                            data_df_2023_Q1, data_df_2023_Q2, data_df_2023_Q3, data_df_2023_Q4,
                            data_df_2024], ignore_index=True)

In [154]:
data_2021_2024.shape

(661795, 22)

In [155]:
data_2021_2024.isnull().sum()

Specie
Date                  0
Country               0
City                  0
aqi              649125
co               252243
dew              137405
humidity           9678
mepaqi           660718
neph             659132
no2              116775
o3               171250
pm1              658238
pm10             111800
pm25              94038
precipitation    585253
pressure          12118
so2              208905
temperature        9176
uvi              649023
wd               624661
wind-gust        312881
wind-speed        19934
dtype: int64

In [156]:
data_2021_2024.head()

Specie,Date,Country,City,aqi,co,dew,humidity,mepaqi,neph,no2,...,pm10,pm25,precipitation,pressure,so2,temperature,uvi,wd,wind-gust,wind-speed
0,2020-12-28,AE,Abu Dhabi,NaN,6.0,122.0,192.0,NaN,NaN,114.0,...,120.0,24.0,NaN,192.0,116.0,192.0,NaN,NaN,NaN,192.0
1,2020-12-28,AE,Dubai,NaN,NaN,20.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
2,2020-12-28,AF,Kabul,NaN,NaN,21.0,24.0,NaN,NaN,NaN,...,NaN,24.0,NaN,24.0,NaN,24.0,NaN,NaN,NaN,24.0
3,2020-12-28,AR,Buenos Aires,NaN,70.0,48.0,96.0,NaN,NaN,46.0,...,77.0,23.0,NaN,96.0,NaN,96.0,NaN,18.0,60.0,96.0
4,2020-12-28,AT,Graz,NaN,42.0,133.0,216.0,NaN,NaN,191.0,...,215.0,NaN,21.0,216.0,29.0,216.0,NaN,NaN,202.0,208.0

In [157]:
# Find the minimum and maximum dates
min_date = data_2021_2024['Date'].min()
max_date = data_2021_2024['Date'].max()

print('Minimum date:', min_date)
print('Maximum date:', max_date)

Minimum date: 2020-12-28 00:00:00
Maximum date: 2024-12-17 00:00:00

In [158]:
os.makedirs('/kaggle/working/data-after-combine', exist_ok=True)
data_2021_2024.to_csv('/kaggle/working/data-after-combine/data_2021_2024.csv')